* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #0277bd;
  -webkit-font-smoothing: antialiased !important;
}

body, input button {
  color: #222;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  max-width: 700px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 80px auto;
}

h1 {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

strong {
  padding: 10px 0;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #eee;
  flex: 1;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}

button {
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background: #0277bd;
  cursor: pointer;
}

hr {
  margin: 10px 0;
}

#result {
  border: 1px solid #eee;
  margin-top: 10px;
  width: 100%;
}